// Include functions first
@import "bootstrap/scss/functions";

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

//Var
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/card";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/popover";
@import "bootstrap/scss/offcanvas"; // Requires transitions

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

body {
  font: 1.5rem/1.5 var(--bs-font-sans-serif);
}
h1 {
  font-size: calc(3rem + 1.5vw)
}
h2 {
  font-size: calc(2rem + 1.5vw)
}
h3 {
  font-size: calc(1.5rem + 1.5vw);
}