// Include functions first
@use "bootstrap/scss/functions" as *;

// Required
@use "bootstrap/scss/variables" as *;
@use "bootstrap/scss/variables-dark" as *;
@use "bootstrap/scss/maps" as *;
@use "bootstrap/scss/mixins" as *;
@use "bootstrap/scss/utilities" as *;
@use "bootstrap/scss/root" as *;
@use "bootstrap/scss/reboot" as *;

//Var
@use "bootstrap/scss/type" as *;
@use "bootstrap/scss/images" as *;
@use "bootstrap/scss/containers" as *;
@use "bootstrap/scss/grid" as *;
@use "bootstrap/scss/forms" as *;
@use "bootstrap/scss/buttons" as *;
@use "bootstrap/scss/transitions" as *;
@use "bootstrap/scss/button-group" as *;
@use "bootstrap/scss/card" as *;
@use "bootstrap/scss/list-group" as *;
@use "bootstrap/scss/modal" as *; // Requires transitions
@use "bootstrap/scss/popover" as *;
@use "bootstrap/scss/offcanvas" as *; // Requires transitions

// Helpers
// @use "bootstrap/scss/helpers" as *;

// Utilities
@use "bootstrap/scss/utilities/api" as *;

body {
  font: 1.5rem/1.5 var(--bs-font-sans-serif);
}
h1 {
  font-size: calc(3rem + 1.5vw)
}
h2 {
  font-size: calc(2rem + 1.5vw)
}
h3 {
  font-size: calc(1.5rem + 1.5vw);
}
.logo-block {
  width: calc(3rem + 5vw);
  height: auto
}
@media (max-width: 991px) {
  body{
    font: 0.75rem/1.5 var(--bs-font-sans-serif);
  }
  label.btn {
    font-size: inherit;
    padding: 0.3rem 0.55rem;
  }
  .card-body, .card-header {
    padding: 0.5rem 1rem;
  }
  h1 {
    font-size: calc(1.5rem + 1.5vw);
  }
  h2 {
    font-size: calc(1.25rem + 1.5vw);
    margin-bottom: 0.25rem !important;
  }
  h3 {
    font-size: calc(1rem + 1.5vw);
  }
  .mb-5 {
    margin-bottom: 1.5rem !important;
  }
  .mb-4 {
    margin-bottom: 0.75rem !important;
  }
}