// Include functions first
@use "bootstrap/scss/functions";

// Required
@use "bootstrap/scss/variables";
@use "bootstrap/scss/variables-dark";
@use "bootstrap/scss/maps";
@use "bootstrap/scss/mixins";
@use "bootstrap/scss/utilities";
@use "bootstrap/scss/root";
@use "bootstrap/scss/reboot";

//Var
@use "bootstrap/scss/type";
@use "bootstrap/scss/images";
@use "bootstrap/scss/containers";
@use "bootstrap/scss/grid";
@use "bootstrap/scss/forms";
@use "bootstrap/scss/buttons";
@use "bootstrap/scss/transitions";
@use "bootstrap/scss/button-group";
@use "bootstrap/scss/card";
@use "bootstrap/scss/list-group";
@use "bootstrap/scss/modal"; // Requires transitions
@use "bootstrap/scss/popover";
@use "bootstrap/scss/offcanvas"; // Requires transitions

// Helpers
// @use "bootstrap/scss/helpers";

// Utilities
@use "bootstrap/scss/utilities/api";

body {
  font: 1.5rem/1.5 var(--bs-font-sans-serif);
}
h1 {
  font-size: calc(3rem + 1.5vw)
}
h2 {
  font-size: calc(2rem + 1.5vw)
}
h3 {
  font-size: calc(1.5rem + 1.5vw);
}
.logo-block {
  width: calc(3rem + 5vw);
  height: auto
}
@media (max-width: 991px) {
  body{
    font: 0.75rem/1.5 var(--bs-font-sans-serif);
  }
  label.btn {
    font-size: inherit;
    padding: 0.3rem 0.55rem;
  }
  .card-body, .card-header {
    padding: 0.5rem 1rem;
  }
  h1 {
    font-size: calc(1.5rem + 1.5vw);
  }
  h2 {
    font-size: calc(1.25rem + 1.5vw);
    margin-bottom: 0.25rem !important;
  }
  h3 {
    font-size: calc(1rem + 1.5vw);
  }
  .mb-5 {
    margin-bottom: 1.5rem !important;
  }
  .mb-4 {
    margin-bottom: 0.75rem !important;
  }
}